@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Source+Serif+4&display=swap");

@media screen and (max-width: 1150px) {
  .timeline {
    width: 80vw;
  }

  .timeline .checkpoint {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }

  .timeline .checkpoint::before {
    width: 3px;
    height: 4em;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline .checkpoint div::before {
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
  }
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #121212;
  color: #fff;
  padding: 2em;
}

body::before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
}

.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
  padding: 3px;
  z-index: 1000;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
}

.progress-percentage {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.quote,
.author {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  letter-spacing: 3px;
}

.author {
  text-align: right;
  margin-right: 2.5rem;
}

.ending-quote {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2em;
  letter-spacing: 3px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 0.3em;
  font-size: 4em;
}

h2 {
  text-align: center;
  margin-bottom: 0.5em;
}

.source-link {
  color: #fff;
  font-size: small;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.3s ease;
}

.source-link:hover {
  color: #007bff;
}

.title p {
  color: #fff;
  font-size: 1.3em;
  letter-spacing: 2px;
}

.timeline {
  margin: 5em auto;
  max-width: 34.15em;
}

.image-checkpoint {
  text-align: center;
}

.checkpoint {
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}

.checkpoint div {
  border: 2px solid #888;
  border-radius: 1em;
  padding: 1.5em;
  transition: transform 0.3s ease-in-out;
}

.checkpoint p {
  line-height: 27px;
  color: #ccc;
}

.checkpoint li {
  text-decoration: underline;
}

.checkpoint:nth-child(odd) {
  border-left: 3px solid #888;
  padding-left: 3em;
  transform: translateX(17em);
}

.checkpoint:nth-child(even) {
  border-right: 3px solid #888;
  padding-right: 3em;
  transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
  content: "";
  background: #888;
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
  left: 0;
}

.checkpoint:nth-child(even)::before {
  right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
  content: "";
  background: #fff;
  box-shadow: 0 0 0.5em #0d71fc;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
  left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
  right: -0.5em;
}

.checkpoint-img {
  align-items: center;
  width: 400px;
  margin-bottom: 0.5em;
}

.checkpoint-img img {
  width: 100%;
}

.contents {
  font-family: Arial, sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 1em;
  width: 800px;
  margin: 20px auto;
}

.contents h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.contents ol {
  padding-left: 2em;
  margin: 0;
}

.contents li {
  margin: 5px 0;
}

.contents a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.contents a:hover {
  color: #007bff;
}

.contents-list {
  flex: 1;
}

.contents-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
